<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401477511564-0bcg4i3dps7cihuhb09q4ver5fcien2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401477511564-0bcg4i3dps7cihuhb09q4ver5fcien2p</string>
	<key>API_KEY</key>
	<string>AIzaSyAMcWtwcwxzh_gFtOxIpRIg52GtgOOI4So</string>
	<key>GCM_SENDER_ID</key>
	<string>401477511564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullahSOHL</string>
	<key>PROJECT_ID</key>
	<string>sohl-73028</string>
	<key>STORAGE_BUCKET</key>
	<string>sohl-73028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401477511564:ios:7f25e3c20fe85f3a038ea9</string>
	<key>DATABASE_URL</key>
	<string>https://sohl-73028.firebaseio.com</string>
</dict>
</plist>